.highlight {
    background-color: #80c0b5;
}

.badge {
    background-color: #4c4c4d !important;
}

.green-highlight {
    color: #008000;
    font-size: 40px;
}

.red-highlight {
    color: #ff0000;
    font-size: 25px;
}